head, body {font-family:"Comic Sans MS",cursive,sans-serif}
h1 {font-family:"Comic Sans MS",cursive,sans-serif;background:#990000;color:white; font-size:150%;text-align:center}
li { padding: 1%;}

svg{height:auto;max-width:100%}
