text {
  font: 10px sans-serif;
}

#backmentions {
  fill: white;
}

/*
rect {
        max-width: 50%;
}
*/
/*
.axis { shape-rendering: crispEdges;}

.axis path,.axis line { fill: none; stroke: #000;}
*/