html, body {
    /*width: 50%;
    height: 10%;*/
    padding: 0px;
    margin: 0px;
    background: white;
}

/*g.parliament {
  width: 800px;
}*/

h1 {
  /*box-shadow: 1px 1px 0px #aaa;*/
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5));
}

td /* Toutes les cellules des tableaux... */
{
  /*border: 1px solid black;*/ /* auront une bordure de 1px */
  /*padding: 5px;
  text-align: center;
  vertical-align: top;*/
}

table {
  /*border-spacing:90px;*/
}


.panel-heading {
  box-shadow: 1px 1px 0px #aaa;
  filter: drop-shadow(14px 14px 7px rgba(0,0,0,0.5));
}

.row {
  /*width: 100%;*/
}

#img-box {
  margin-top: 1%;
}

.img-thumbnail, .img-rounded, .img-circle {
  left: 270px;
  position: absolute;
  height: 25%;
  top: 73%;
  box-shadow: 1px 1px 0px #aaa;
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5));
}

.col-sm-9 {
  margin: 1% 1% 1% 1%;
}

.col-sm-3 {
  background-color: black;
}

.tooltip {
  position: absolute;
  width: 300px;
  height: 160px;
  pointer-events: none;
}

/*.panel-footer {
  height: 250px;
}*/

.baseline {
  position: absolute;
  /*min-width: 1200px;*/
  height: 150px;
  pointer-events: none;
  background: #F2EDED;
  font-size: 2px;
}

svg {
  margin: 3% -1% 1% -10%;
  /*box-shadow: 1px 1px 0px #aaa;*/
  filter: drop-shadow(14px 14px 7px rgba(0,0,0,0.1));
}

svg .seat {
  cursor: pointer;
  transition: all 800ms;
	box-shadow: 1px 1px 0px #aaa;
	filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.5));
}

svg .seat:hover {
	stroke-width: 3;
	stroke: #ff8000;
}

svg .seat:active {
	stroke-width: 4;
	stroke: grey;
}

svg .selectParty {
	stroke-width: 4;
	stroke: white;
}

/*:not(circle):active {
	background-color: red;
}*/

/*circle.COM:hover {
	width: 100;
	stroke-width: 10;
	stroke: grey;
}*/

/* European parliament colors */
svg .seat.gue-ngl { fill: #990000 }
svg .seat.sd { fill: #F0001C }
svg .seat.greens-efa { fill: #32CD32 }
svg .seat.alde { fill: #FFD700 }
svg .seat.epp { fill: #3399FF }
svg .seat.ecr { fill: #0054A5 }
svg .seat.efdd { fill: #40E0D0 }
svg .seat.enf { fill: #000000 }
/* French parliament colors */
svg .seat.EXG { fill: #d30202; }
svg .seat.COM { fill: #990000; }
svg .seat.FI { fill: #ff1616; }
svg .seat.SOC { fill: #f76060; }
svg .seat.RDG { fill: #edafaf; }
svg .seat.DVG { fill: #c66b9a; }
svg .seat.ECO { fill: #41992f; }
svg .seat.DIV { fill: #d3913b; }
svg .seat.REG { fill: #54422b; }
svg .seat.REM { fill: #f2da37; }
svg .seat.MDM { fill: #ea681c; }
svg .seat.UDI { fill: #537bbc; }
svg .seat.LR { fill: #3c589e; }
svg .seat.DVD { fill: #132553; }
svg .seat.DLF { fill: #7928b7; }
svg .seat.FN { fill: #03174a; }
svg .seat.EXD { fill: #000a23; }
/* common */
svg .seat.vacant { fill: #FFFFFF }
svg .seat.no-party { fill: #909090; }